* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Flexbox and Grid */
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.grid { display: grid; }

/* Flex Container */
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

/* Flex Item */
.flex-grow { flex-grow: 1; }
.flex-shrink { flex-shrink: 1; }

.mr-4{
    margin-right: 16px;
}

.w-full{
    width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.ml-2{
    margin-left: 8px;
}

.ml-4{
    margin-left: 16px;
}

.cursor-pointer{
    cursor: pointer;
}